<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ana Dizin</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav>
    <div class="nav-left">
        <img src="/images/SFD_Icon.png" alt="Logo" class="nav-icon">
        <a th:href="@{/intro}" class="logo-text">Secure File Drive</a>
    </div>
    <div class="nav-links">
        <a th:href="@{/upload}">Dosya Yükle</a>
        <a th:href="@{/directories}">Tüm Dizinlerim</a>
        <a th:href="@{/home}">Kullanıcı Bilgilerim</a>
        <a th:href="@{/shared-files}">Benimle Paylaşılanlar</a>
        <a th:href="@{/logout}">Çıkış Yap</a>
    </div>
</nav>

<main>
    <h1>Ana Dizin</h1>

    <!-- Başarı veya Hata Mesajları -->
    <div th:if="${message}" class="success-message" th:text="${message}"></div>
    <div th:if="${error}" class="error-message" th:text="${error}"></div>

    <!-- Yeni Kök Dizin Oluştur Formu -->
    <div class="directory-create-container">
        <h2>Ana Dizin Altında Yeni Dizin Oluştur</h2>
        <form th:action="@{/directories/create}" method="post">
            <input type="hidden" name="username" th:value="${username}" />
            <label for="directoryName">Dizin Adı:</label>
            <input type="text" id="directoryName" name="name" required />
            <button type="submit">Oluştur</button>
        </form>
    </div>

    <!-- Dizinler -->
    <div class="directory-container">
        <div class="directory-header">
            <h2>Dizinler</h2>
            <label class="small-slider">
                <input type="checkbox" id="toggleDeleteMode" />
                <span class="slider"></span>
            </label>
        </div>

        <ul class="directory-tree">
            <!-- Ana dizinleri ve alt dizinleri özyinelemeli olarak listele -->
            <li th:if="${directories.isEmpty()}" class="info-message">Burada henüz bir alt dizin oluşturmadınız.</li>
            <li th:each="dir : ${directories}">
                <div class="directory-item">
                    <a th:href="@{'/directories/' + ${dir.id}}" th:text="${dir.name}"></a>
                    <form th:action="@{'/directories/delete/' + ${dir.id}}" method="post" class="delete-mode"
                          onsubmit="return confirm('Bu dizini silmek istediğinizden emin misiniz?');">
                        <input type="hidden" name="_method" value="delete"/>
                        <button type="submit" class="delete-icon-btn">×</button>
                    </form>
                </div>
                <!-- Alt dizinleri listele -->
                <ul th:if="${!#lists.isEmpty(dir.subDirectories)}"
                    th:insert="~{this :: recursiveSubdirectories}"
                    th:with="subDirs=${dir.subDirectories}">
                </ul>
            </li>
        </ul>
    </div>

    <!-- Ana Dizin Dosyaları -->
    <div class="file-container">
        <h2>Ana Dizin Dosyaları</h2>
        <ul class="files-list">
            <li th:if="${files.isEmpty()}" class="info-message">Buraya henüz bir dosya eklemediniz.</li>
            <li class="file-card" th:each="file : ${files}">
                <span th:text="${file.fileName}">Dosya</span>

                <!-- Dosya Paylaşımı -->
                <form th:action="@{/files/share}" method="post">
                    <input type="hidden" name="username" th:value="${username}" />
                    <input type="hidden" name="fileId" th:value="${file.id}" />
                    <label for="sharedWithEmail">Paylaşılacak E-posta:</label>
                    <input type="email" id="sharedWithEmail" name="sharedWithEmail" required />
                    <label for="version">Versiyon:</label>
                    <select name="version" id="version">
                        <option th:each="ver : ${file.versions}" th:value="${ver.versionNumber}" th:text="${ver.versionNumber}"></option>
                    </select>
                    <button type="submit">Paylaş</button>
                </form>


                <!-- Paylaşımı İptal Et -->
                <div th:if="${file.fileShares.size() == 1}">
                    <form th:action="@{'/files/revoke-share/' + ${file.id}}" method="post">
                        <label for="sharedEmailDropdown"><strong>Paylaşılan Email Adresleri</strong></label>
                        <select id="sharedEmailDropdown" name="sharedWithEmail" required>
                            <option value="" disabled selected>Email Seçiniz...</option>
                            <option th:each="share : ${file.fileShares}" th:value="${share.sharedWithUserEmail}" th:text="${share.sharedWithUserEmail}"></option>
                        </select>
                        <!-- Gizli input ile username gönder -->
                        <input type="hidden" name="username" th:value="${username}" />
                        <button type="submit" class="small-btn">Paylaşımı İptal Et</button>
                    </form>
                </div>


                <!-- Dosya İndir -->
                <form th:action="@{'/files/download/' + ${username} + '/' + ${file.id}}" method="get">
                    <label for="versionNumber">Versiyon:</label>
                    <select name="versionNumber" id="versionNumber">
                        <option th:each="ver : ${file.versions}" th:value="${ver.versionNumber}" th:text="${ver.versionNumber}"></option>
                    </select>
                    <button type="submit">İndir</button>
                </form>

                <!-- Dosya Sil -->
                <form th:action="@{'/files/delete/' + ${username} + '/' + ${file.id}}" method="post">
                    <input type="hidden" name="_method" value="delete"/>
                    <label for="deleteVersionNumber">Versiyon:</label>
                    <select name="versionNumber" id="deleteVersionNumber">
                        <option th:each="ver : ${file.versions}" th:value="${ver.versionNumber}" th:text="${ver.versionNumber}"></option>
                    </select>
                    <button type="submit" class="delete">Sil</button>
                </form>
            </li>
        </ul>
    </div>
</main>

<footer>
    <p>&copy; 2024 SecureFile Drive. Tüm Hakları Saklıdır.</p>
</footer>

<!-- Recursive Template -->
<div th:fragment="recursiveSubdirectories">
    <li th:each="subDir : ${subDirs}">
        <div class="directory-item">
            <a th:href="@{'/directories/' + ${subDir.id}}" th:text="${subDir.name}"></a>
            <form th:action="@{'/directories/delete/' + ${subDir.id}}" method="post" class="delete-mode"
                  onsubmit="return confirm('Bu dizini silmek istediğinizden emin misiniz?');">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" class="delete-icon-btn">×</button>
            </form>
        </div>
        <ul th:if="${!#lists.isEmpty(subDir.subDirectories)}"
            th:insert="~{this :: recursiveSubdirectories}"
            th:with="subDirs=${subDir.subDirectories}">
        </ul>
    </li>
</div>

<script src="/js/deleteModeHandler.js"></script>
</body>
</html>
