<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${currentDirectory != null} ? 'Dizin: ' + ${currentDirectory.name} : 'Ana Dizin'">Dizin İçeriği</title>
    <link rel="stylesheet" href="/css/style.css">

    <!-- CSRF Meta Etiketleri -->
    <meta th:name="_csrf" th:content="${_csrf.token}" />
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<body>
<nav>
    <div class="nav-left">
        <img src="/images/SFD_Icon.png" alt="Logo" class="nav-icon">
        <a th:href="@{/intro}" class="logo-text">Secure File Drive</a>
    </div>
    <!-- Hamburger Menü -->
    <div class="hamburger-menu" id="hamburger-menu" onclick="toggleDrawer()">
        ☰
    </div>
    <!-- Normal Navigasyon -->
    <div class="nav-links">
        <a th:href="@{/upload}">Dosya Yükle</a>
        <a th:href="@{/directories}">Tüm Dizinlerim</a>
        <a th:href="@{/home}">Kullanıcı Bilgilerim</a>
        <a th:href="@{/shared-files}">Benimle Paylaşılanlar</a>
        <a th:href="@{/logout}">Çıkış Yap</a>
    </div>
</nav>

<!-- Drawer Menü -->
<div class="drawer-menu" id="drawer">
    <a th:href="@{/upload}">Dosya Yükle</a>
    <a th:href="@{/directories}">Tüm Dizinlerim</a>
    <a th:href="@{/home}">Kullanıcı Bilgilerim</a>
    <a th:href="@{/shared-files}">Benimle Paylaşılanlar</a>
    <a th:href="@{/logout}">Çıkış Yap</a>
</div>

<!-- Arka Plan Karartma -->
<div class="drawer-overlay" id="drawer-overlay" onclick="toggleDrawer()"></div>

<main>
    <!-- Mevcut Dizin Başlığı -->
    <h1 th:text="'Dizin: ' + ${currentDirectory.name}">Dizin Adı</h1>

    <!-- Navigasyon -->
    <div class="navigation-links">
        <a th:href="@{/directories}" class="nav-button">Ana Dizin'e Geri Dön</a>
        <a th:if="${currentDirectory.parentDirectoryId != null}"
           th:href="@{'/directories/' + ${currentDirectory.parentDirectoryId}}"
           class="nav-button">
            Bir Üst Dizine Geri Dön
        </a>
    </div>

    <!-- Yeni Dizin Oluştur ve Dizin Paylaşımı Bölümleri -->
    <div class="directory-actions">
        <!-- Yeni Dizin Oluştur -->
        <div class="directory-create-container">
            <h2>Ana Dizin Altında Yeni Dizin Oluştur</h2>
            <form th:action="@{/directories/create}" method="post">
                <input type="hidden" name="parentDirectoryId" th:value="${currentDirectory.id}" />
                <input type="hidden" name="username" th:value="${username}" />
                <label for="directoryName">Dizin Adı:</label>
                <input type="text" id="directoryName" name="name" required />
                <button type="submit">Oluştur</button>
            </form>

        </div>

        <!-- Dizin Paylaşımı Formu -->
        <div class="directory-share-form">
            <h3>Dizin Paylaşımı</h3>
            <form th:action="@{/directories/share}" method="post">
                <div class="form-group">
                    <label for="directoryId">Dizin:</label>
                    <select id="directoryId" name="directoryId" required>
                        <option value="" disabled selected>Dizin Seçiniz...</option>
                        <option th:each="sub : ${subDirectories}" th:value="${sub.id}" th:text="${sub.name}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sharedWithUserEmail">Paylaşılacak E-posta:</label>
                    <input type="email" id="sharedWithUserEmail" name="sharedWithUserEmail" placeholder="örnek@eposta.com" required />
                </div>
                <button type="submit" class="share-button">Paylaş</button>
            </form>
        </div>
    </div>

    <!-- Paylaşılan Dizinler Tablosu -->
    <div th:if="${!mySharedDirectories.isEmpty()}" class="shared-directories-table">
        <h3>Paylaştığınız Dizinler</h3>
        <table>
            <thead>
            <tr>
                <th>Dizin</th>
                <th>Paylaşılan E-posta</th>
                <th>İptal Et</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="share : ${mySharedDirectories}">
                <td th:text="${share.directoryName}">Dizin Adı</td>
                <td th:text="${share.sharedWithUserEmail}">Paylaşılan E-posta</td>
                <td>
                    <form th:action="@{/directories/revoke-share}" method="post" class="revoke-form">
                        <input type="hidden" name="directoryId" th:value="${share.directoryId}" />
                        <input type="hidden" name="sharedWithUserEmail" th:value="${share.sharedWithUserEmail}" />
                        <button type="submit" class="revoke-button">İptal Et</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Alt Dizinler Kutusu -->
    <div class="directory-container">
        <div class="directory-header">
            <h2>Dizinler</h2>
            <label class="small-slider">
                <input type="checkbox" id="toggleDeleteMode" />
                <span class="slider"></span>
            </label>
        </div>
        <ul class="directory-tree">
            <li th:if="${subDirectories.isEmpty()}" class="info-message">Burada henüz bir alt dizin oluşturmadınız.</li>
            <li th:each="sub : ${subDirectories}">
                <div class="directory-item">
                    <a th:href="@{'/directories/' + ${sub.id}}" th:text="${sub.name}">Alt Dizin Adı</a>
                    <form th:action="@{'/directories/delete/' + ${sub.id}}" method="post" class="delete-mode"
                          onsubmit="return confirm('Bu dizini silmek istediğinizden emin misiniz?');">
                        <input type="hidden" name="_method" value="delete"/>
                        <button type="submit" class="delete-icon-btn">×</button>
                    </form>
                </div>
                <!-- Alt dizinleri özyinelemeli olarak listele -->
                <ul th:if="${!#lists.isEmpty(sub.subDirectories)}"
                    th:insert="~{this :: recursiveSubdirectories}"
                    th:with="subDirs=${sub.subDirectories}">
                </ul>
            </li>
        </ul>
    </div>

    <!-- Ana Dizin Dosyaları -->
    <div class="file-container">
        <!-- Arama Alanı -->
        <div class="file-search-container">
            <h2>Dosya Ara</h2>
            <div class="search-bar">
                <label for="searchQuery"></label>
                <input type="text" id="searchQuery" placeholder="Dosya adını yazın..." onkeyup="filterFiles()" />
            </div>
        </div>
        <div class="file-header">
            <h2>Ana Dizin Dosyaları</h2>
            <label class="small-slider">
                <input type="checkbox" id="toggleFileMode" />
                <span class="slider"></span>
            </label>
        </div>
        <ul class="files-list">
            <li th:if="${files.isEmpty()}" class="info-message">Buraya henüz bir dosya eklemediniz.</li>
            <li class="file-card" th:each="file : ${files}">
                <span th:text="${file.fileName}">Dosya</span>
                <div class="file-details">
                    <!-- Dosya Paylaşımı -->
                    <form th:action="@{/files/share}" method="post" class="share-form"
                          th:id="'share-form-' + ${file.id}">
                        <input type="hidden" name="username" th:value="${username}" />
                        <input type="hidden" name="fileId" th:value="${file.id}" />

                        <label th:for="'sharedWithEmail_' + ${file.id}">
                            Paylaşılacak E-posta:
                        </label>
                        <input type="email"
                               th:id="'sharedWithEmail_' + ${file.id}"
                               name="sharedWithEmail" required />

                        <label th:for="'shareVersion_' + ${file.id}">Versiyon:</label>
                        <select name="version" th:id="'shareVersion_' + ${file.id}" required>
                            <option value="" disabled selected>Versiyon Seçiniz...</option>
                            <option th:each="ver : ${file.versions}"
                                    th:value="${ver.versionNumber}"
                                    th:text="${ver.versionNumber}">
                            </option>
                        </select>
                        <button type="submit" class="share-btn">Paylaş</button>
                    </form>

                    <!-- Paylaşımı İptal Et -->
                    <div th:if="${file.fileShares.size() > 0}">
                        <form th:action="@{/files/revoke-share}" method="post" th:id="'revoke-form-' + ${file.id}" class="revoke-form">
                            <input type="hidden" name="fileId" th:value="${file.id}" />
                            <input type="hidden" name="username" th:value="${username}" />

                            <!-- Versiyon Seçimi -->
                            <label th:for="'revokeVersion_' + ${file.id}">Versiyon:</label>
                            <select
                                    th:id="'revokeVersion_' + ${file.id}"
                                    name="version"
                                    required>
                                <option value="" disabled selected>Versiyon Seçiniz...</option>
                                <option th:each="share : ${file.fileShares}"
                                        th:value="${share.version}"
                                        th:text="${share.version}">
                                </option>
                            </select>

                            <!-- Paylaşılan E-posta Adresleri -->
                            <label th:for="'sharedEmailDropdown_' + ${file.id}">Email:</label>
                            <select
                                    th:id="'sharedEmailDropdown_' + ${file.id}"
                                    name="sharedWithEmail"
                                    required>
                                <option value="" disabled selected>Email Seçiniz...</option>
                                <option th:each="share : ${file.fileShares}"
                                        th:value="${share.sharedWithUserEmail}"
                                        th:text="${share.sharedWithUserEmail}">
                                </option>
                            </select>

                            <button type="submit" class="revoke-btn">Paylaşımı İptal Et</button>
                        </form>
                    </div>

                    <!-- Dosya İndir -->
                    <form th:action="@{'/files/download/' + ${username} + '/' + ${file.id}}" method="get">
                        <label for="versionNumber">Versiyon:</label>
                        <select name="versionNumber" id="versionNumber">
                            <option th:each="ver : ${file.versions}" th:value="${ver.versionNumber}" th:text="${ver.versionNumber}"></option>
                        </select>
                        <button type="submit">İndir</button>
                    </form>

                    <!-- Dosya Sil -->
                    <form th:action="@{'/files/delete/' + ${username} + '/' + ${file.id}}"
                          method="post" class="delete-form">
                        <input type="hidden" name="_method" value="delete" />
                        <input type="hidden" name="username" th:value="${username}" /> <!-- Username'i formdan al -->
                        <label th:for="'deleteVersionNumber_' + ${file.id}">Versiyon:</label>
                        <select name="versionNumber" th:id="'deleteVersionNumber_' + ${file.id}">
                            <option th:each="ver : ${file.versions}"
                                    th:value="${ver.versionNumber}"
                                    th:text="${ver.versionNumber}">
                            </option>
                        </select>
                        <button type="submit" class="delete-btn" data-file-id="${file.id}">Sil</button>
                    </form>
                </div><!-- file-details sonu -->
            </li>
        </ul>
    </div>
</main>

<footer>
    <p>&copy; 2024 SecureFile Drive. Tüm Hakları Saklıdır.</p>
</footer>

<!-- Recursive Template -->
<div th:fragment="recursiveSubdirectories">
    <li th:each="subDir : ${subDirs}">
        <div class="directory-item">
            <a th:href="@{'/directories/' + ${subDir.id}}" th:text="${subDir.name}"></a>
            <form th:action="@{'/directories/delete/' + ${subDir.id}}" method="post" class="delete-mode"
                  onsubmit="return confirm('Bu dizini silmek istediğinizden emin misiniz?');">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" class="delete-icon-btn">×</button>
            </form>
        </div>
        <ul th:if="${!#lists.isEmpty(subDir.subDirectories)}"
            th:insert="~{this :: recursiveSubdirectories}"
            th:with="subDirs=${subDir.subDirectories}">
        </ul>
    </li>
</div>

<script src="/js/deleteModeHandler.js"></script>
<script src="/js/navigationToggleHandler.js"></script>
<script src="/js/filterFilesHandler.js"></script>
<script src="/js/fileToggleHandler.js"></script>
<script src="/js/revokeShareHandler.js"></script>
<script src="/js/deleteFileHandler.js"></script>
<script src="/js/shareFileHandler.js"></script>
</body>
</html>
