<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dosyalarım</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav>
    <a th:href="@{/upload}">Dosya Yükle</a>
    <a th:href="@{/directories}">Dizinlerim</a>
    <a th:href="@{/files}">Dosyalarım</a>
    <a th:href="@{/home}">Anasayfa</a>
    <a th:href="@{/shared-files}">Paylaşılan Dosyalar</a>
    <a th:href="@{/logout}">Çıkış Yap</a>
</nav>
<main>
    <h1>Dosyalarım</h1>

    <!-- Dosya Yükleme Formu -->
    <h2>Yeni Dosya Yükle</h2>
    <form th:action="@{/files/upload}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="username" th:value="${username}" />
        <label for="file">Dosya Seç:</label>
        <input type="file" id="file" name="file" required />
        <button type="submit">Yükle</button>
    </form>

    <!-- Dosyalar Listesi -->
    <h2>Yüklediğiniz Dosyalar</h2>
    <ul>
        <li th:each="file : ${files}">
            <span th:text="${file.fileName}">Dosya Adı</span>

            <!-- Dosya Paylaşımı -->
            <form th:action="@{/files/share}" method="post">
                <input type="hidden" name="username" th:value="${username}" />
                <input type="hidden" name="fileId" th:value="${file.id}" />
                <label for="sharedWithEmail">Paylaşılacak E-posta:</label>
                <input type="email" id="sharedWithEmail" name="sharedWithEmail" required />
                <label for="version">Versiyon:</label>
                <select name="version" id="version">
                    <option th:each="ver : ${file.versions}" th:value="${ver.versionNumber}" th:text="${ver.versionNumber}"></option>
                </select>
                <button type="submit">Paylaş</button>
            </form>

            <!-- Paylaşımı Kaldır -->
            <ul>
                <li th:each="share : ${file.fileShares}">
                    Paylaşılan Kullanıcı: <span th:text="${share.sharedWithUser.username}"></span>
                    <form th:action="@{'/files/revoke-share/' + ${file.id}}" method="post">
                        <input type="hidden" name="sharedWithUsername" th:value="${share.sharedWithUser.username}" />
                        <input type="hidden" name="username" th:value="${username}" />
                        <button type="submit">Paylaşımı İptal Et</button>
                    </form>
                </li>
            </ul>
            <!-- Dosya İndir -->
            <form th:action="@{'/files/download/' + ${username} + '/' + ${file.id}}" method="get">
                <label for="versionNumber">Versiyon:</label>
                <select name="versionNumber" id="versionNumber">
                    <option th:each="ver : ${file.versions}" th:value="${ver.versionNumber}" th:text="${ver.versionNumber}"></option>
                </select>
                <button type="submit">İndir</button>
            </form>

            <!-- Dosya Sil -->
            <form th:action="@{'/files/delete/' + ${username} + '/' + ${file.id} + '/' + ${file.versions[0].versionNumber}}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" class="delete">Sil</button>
            </form>
        </li>
    </ul>
</main>
<footer>
    <p>&copy; 2024 SecureFile Drive. Tüm Hakları Saklıdır.</p>
</footer>
</body>
</html>
