<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Files</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav>
    <div class="nav-left">
        <img src="/images/SFD_Icon.png" alt="Logo" class="nav-icon">
        <a th:href="@{/intro}" class="logo-text">Secure File Drive</a>
    </div>
    <div class="nav-links">
        <a th:href="@{/upload}">Upload File</a>
        <a th:href="@{/directories}">All Directories</a>
        <a th:href="@{/home}">My Profile</a>
        <a th:href="@{/shared-files}">Shared With Me</a>
        <a th:href="@{/logout}">Logout</a>
    </div>
</nav>
<main>
    <h1>My Files</h1>

    <!-- File Upload Form -->
    <h2>Upload New File</h2>
    <form th:action="@{/files/upload}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="username" th:value="${username}" />
        <label for="file">Choose File:</label>
        <input type="file" id="file" name="file" required />
        <button type="submit">Upload</button>
    </form>

    <!-- Files List -->
    <h2>Your Uploaded Files</h2>
    <ul>
        <li th:each="file : ${files}">
            <span th:text="${file.fileName}">File Name</span>

            <!-- File Sharing -->
            <form th:action="@{/files/share}" method="post">
                <input type="hidden" name="username" th:value="${username}" />
                <input type="hidden" name="fileId" th:value="${file.id}" />
                <label for="sharedWithEmail">Share With Email:</label>
                <input type="email" id="sharedWithEmail" name="sharedWithEmail" required />
                <label for="version">Version:</label>
                <select name="version" id="version">
                    <option th:each="ver : ${file.versions}" th:value="${ver.versionNumber}" th:text="${ver.versionNumber}"></option>
                </select>
                <button type="submit">Share</button>
            </form>

            <!-- Revoke Share -->
            <ul>
                <li th:each="share : ${file.fileShares}">
                    Shared With: <span th:text="${share.sharedWithUser.username}"></span>
                    <form th:action="@{'/files/revoke-share/' + ${file.id}}" method="post">
                        <input type="hidden" name="sharedWithUsername" th:value="${share.sharedWithUser.username}" />
                        <input type="hidden" name="username" th:value="${username}" />
                        <button type="submit">Revoke Share</button>
                    </form>
                </li>
            </ul>
            <!-- File Download -->
            <form th:action="@{'/files/download/' + ${username} + '/' + ${file.id}}" method="get">
                <label for="versionNumber">Version:</label>
                <select name="versionNumber" id="versionNumber">
                    <option th:each="ver : ${file.versions}" th:value="${ver.versionNumber}" th:text="${ver.versionNumber}"></option>
                </select>
                <button type="submit">Download</button>
            </form>

            <!-- Delete File -->
            <form th:action="@{'/files/delete/' + ${username} + '/' + ${file.id} + '/' + ${file.versions[0].versionNumber}}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" class="delete">Delete</button>
            </form>
        </li>
    </ul>
</main>
<footer>
    <p>&copy; 2024 SecureFile Drive. All Rights Reserved.</p>
</footer>
</body>
</html>
