<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Anasayfa</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav>
    <a th:href="@{/upload}">Dosya Yükle</a>
    <a th:href="@{/files}">Dosyalarım</a>
    <a th:href="@{/home}">Anasayfa</a>
    <a th:href="@{/shared-files}">Paylaşılan Dosyalar</a>
    <a th:href="@{/logout}">Çıkış Yap</a>
</nav>
<main>
    <h1>Anasayfaya Hoş Geldiniz!</h1>
    <ul class="user-info">
        <li><strong>E-posta:</strong> <span th:text="${email}">[E-posta]</span></li>
        <li><strong>Kullanıcı Adı:</strong> <span th:text="${displayName}">[Kullanıcı Adı]</span></li>
    </ul>
</main>
<footer>© 2024 SecureFile Drive</footer>
</body>
</html>
