<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Paylaşılan Dosyalar</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav>
    <a th:href="@{/upload}">Dosya Yükle</a>
    <a th:href="@{/files}">Dosyalarım</a>
    <a th:href="@{/home}">Anasayfa</a>
    <a th:href="@{/shared-files}">Paylaşılan Dosyalar</a>
    <a th:href="@{/logout}">Çıkış Yap</a>
</nav>
<main>
    <h1>Size Paylaşılan Dosyalar</h1>
    <ul>
        <li th:each="file : ${files}">
            <span th:text="${file.fileName}"></span>
            <a th:href="@{'/files/download-shared/' + ${file.id}}">İndir</a>
        </li>
    </ul>
</main>
<footer>© 2024 SecureFile Drive</footer>
</body>
</html>
