<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dosya Yükleme</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav>
    <div class="nav-left">
        <img src="/images/SFD_Icon.png" alt="Logo" class="nav-icon">
        <a th:href="@{/intro}" class="logo-text">Secure File Drive</a>
    </div>
    <div class="nav-links">
        <a th:href="@{/upload}">Dosya Yükle</a>
        <a th:href="@{/directories}">Tüm Dizinlerim</a>
        <a th:href="@{/home}">Kullanıcı Bilgilerim</a>
        <a th:href="@{/shared-files}">Benimle Paylaşılanlar</a>
        <a th:href="@{/logout}">Çıkış Yap</a>
    </div>
</nav>

<main>
    <h1>Dosya Yükle</h1>

    <!-- Hata Mesajı -->
    <div th:if="${errorMessage != null}" class="error-message">
        <p th:text="${errorMessage}"></p>
    </div>

    <!-- Dosya Yükleme Formu -->
    <div class="file-upload-container">
        <img src="/images/FileUploadIcon.png" alt="Dosya Yükleme Gösterimi" class="file-upload-icon">

        <form th:action="@{/files/upload}" method="post" enctype="multipart/form-data">
            <!-- Gizli Username Alanı -->
            <input type="hidden" name="username" th:value="${username}" />

            <!-- Drag and Drop Alanı -->
            <div class="drag-drop-area" id="dragDropArea">
                <p>Dosyalarınızı buraya sürükleyip bırakın veya tıklayın</p>
                <input id="file" type="file" name="file" class="custom-file-input" required />
                <span id="file-chosen">Dosya seçilmedi</span>
            </div>

            <!-- Dizini Seçme Alanı -->
            <label for="directory">Dosyanın Yükleneceği Dizini Seçin:</label>
            <select name="directoryId" id="directory">
                <option value="">Ana Dizin</option>
                <option th:each="dir : ${directories}" th:value="${dir.id}" th:text="${dir.name}"></option>
            </select>

            <!-- Yükle Butonu -->
            <button type="submit">Yükle</button>
        </form>
    </div>
</main>

<footer>
    <p>&copy; 2024 SecureFile Drive. Tüm Hakları Saklıdır.</p>
</footer>

<script src="/js/dragDropHandler.js"></script>
</body>
</html>
